
<ion-content fullscreen>

  <ion-card>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/bigben.jpg" alt="Mount Old Ben">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon>Mount Old Ben
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>
      Big Ben (previously known as Big Ben Peak, Old Ben Mountain, Emperor William Peak and Kaiser Wilhelm-Berg) is a
      volcanic massif that dominates the geography of Heard Island in the southern Indian Ocean. It is a stratovolcano with a
      diameter of about 25 km (16 mi). Its highest point is Mawson Peak, which is 2,745 m (9,006 ft) above sea level. Much of
      it is covered by ice, including 14 major glaciers which descend from Big Ben to the sea. Big Ben is the highest mountain
      in Australian states and territories, except for those claimed in the Australian Antarctic Territory. A smaller
      volcanic headland, the Laurens Peninsula, extends about 10 km (6 mi) to the northwest, created by a separate volcano,
      Mount Dixon; its highest point is Anzac Peak, at 715 m (2,346 ft).
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Volcanic Activity</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/bigben2.jpg" alt="Mount Old Ben">
      <p>
        Volcanic activity at the cone has been known since 1881. An eruption occurred in 1993. Satellite images detected
        eruptions during 2000. On 2 February 2016, observations from Atlas Cove, 15 km (9 mi) northwest of Mawson Peak, showed
        plumes up to 1 km (3,300 ft) high over the volcano. Satellite images showed hotspots at various times from 2003 to 2008,
        and during September 2012. A further eruption was reported on 2 February 2016, and was recorded by scientists who
        happened to be in the area on an expedition. Big Ben does not endanger humans because Heard Island is uninhabited.
        
        Big Ben is in a remote location, and without regular observation it is possible that eruptions have occurred at other
        times.
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>