<ion-content fullscreen>

  <ion-card>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/kunlun.jpg" alt="Mount Kunlun">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon> Mount Kunlun
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>
    The Kunlun Mountains (simplified Chinese: 昆仑山; traditional Chinese: 崑崙山; pinyin: Kūnlún Shān, pronounced [kʰu̯ə́nlu̯ə̌n
    ʂán]; Uighur: كۇئېنلۇن تاغ تىزمىسى) constitute one of the longest mountain chains in Asia, extending for more than 3,000
    kilometres (1,900 mi). In the broadest sense, the chain forms the northern edge of the Tibetan Plateau south of the
    Tarim Basin.
    
    The exact definition of Kunlun Mountains varies over time. Older sources used Kunlun to mean the mountain belt that runs
    across the center of China, that is, Altyn Tagh along with the Qilian and Qin Mountains. Recent sources have the
    Kunlun range forming most of the south side of the Tarim Basin and then continuing east south of the Altyn Tagh. Sima
    Qian (Records of the Grand Historian, scroll 123) says that Emperor Wu of Han sent men to find the source of the Yellow
    River and gave the name Kunlun to the mountains at its source. The name seems to have originated as a semi-mythical
    location in the classical Chinese text Classic of Mountains and Seas.
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">In Popular Culture</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/kunlun2.jpg" alt="Mount Kunlun">
      <p>
        The Kunlun mountains (spelled "Kuen-Lun" in the book) are described as the location of the Shangri-La monastery in the
      1933 novel Lost Horizon by English writer James Hilton.
      
      The mountains are the site of the fictional city of K'un Lun in the Marvel Comics Iron Fist series and the TV show of
      the same name.
      
      The Kunlun mountain range serves as the setting for a mission in the 2013 video game Battlefield 4 in which a Chinese
      high-security prison is located within the mountains. The multiplayer map Operation Locker features the location as
      well.
      
      The Kunlun mountains are visited in the 2012 novel Guardian (Zhen Hun) by Priest, and the novel merges the mythical
      Kunlun with the highest peak of the Kunlun
    </p>

    </ion-card-content>
  </ion-card>

</ion-content>