<ion-content fullscreen>

  <ion-card>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/orizaba.jpg" alt="Mount Orizaba">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon> Mount Orizaba
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>
      Pico de Orizaba is located at 19°1′48″N 97°16′12″W, about 110 kilometres (68 mi) west of the Gulf of Mexico and 200
      kilometres (120 mi) east of Mexico City, on the border between the states of Veracruz and Puebla. The volcano is
      approximately 480 kilometres (300 mi) south of the Tropic of Cancer. Orizaba anchors the south-eastern end of the
      Trans-Mexican Volcanic Belt, a volcanic chain that runs from west to east across Central Mexico. A companion peak lying
      about six km to the southwest of Pico de Orizaba is the Sierra Negra, at 4,640 metres (15,223 ft). This subsidiary peak
      is significantly lower than its massive neighbour, but the road to the observatory on its summit is the highest road in
      North America.
      
      Pico de Orizaba, as part of the Sierra Madre Oriental, forms a barrier between the coastal plains of the Gulf of Mexico
      and the Mexican Plateau. The volcano blocks the moisture from the Gulf of Mexico from saturating central Mexico and
      influences the climates of both areas. Both the state of Veracruz and Puebla depend on Pico de Orizaba for supplying
      fresh water. The largest river originating on the volcano is the Jamapa River.
      </p>
    </ion-card-content>

  </ion-card>
 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">History</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/orizaba2.JPG" alt="Mount Orizaba">
      <p>
      Pico de Orizaba was important in pre-Hispanic cultures, such as those of the Nahuatl-speaking Aztecs and the Totonacs.
      The volcano is part of many native mythologies.
      
      During the Spanish Conquest of Mexico, Hernán Cortés passed through the foothills of Pico de Orizaba; the volcano and
      the surrounding mountains made his journey to Tenochtitlan more difficult and delayed him for many days. During the
      1600s, the Spanish Crown financed several roads to be built that would circumvent Citlaltépetl. One of the roads was
      routed south of the volcano through the cities of Orizaba and Fortín de las Flores, which became the main trade route
      between Mexico City and Veracruz on the Gulf Coast. A short road was later built by Jesuits to establish settlements at
      the base of Pico de Orizaba. The Spanish used the volcano as a landmark to guide themselves to the port of Veracruz.
      Many battles were fought near this volcano throughout Mexico's struggle for independence.
      
      In 1839, Henri Galeotti was the first European to explore the volcano, but did not hike to the summit. During the
      American occupation of Mexico in 1848, two American soldiers, F. Maynard and William F. Raynolds, were the first known
      hikers to reach the summit of Pico de Orizaba. In 1851, the French explorer Alejandro Doignon also reached the summit
      and found the flagpole left behind by the Americans in 1848. During the mid-19th century Citlaltépetl was explored by
      many scientists, including the German botanist Hugo Fink, who was the first to record the numerous species of flora
      found on the volcano. In 1873, Martin Tritschler raised the Mexican flag at the summit.
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>