<ion-content fullscreen>

  <ion-card>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/fuji.jpg" alt="Mount Fuji">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon> Mount Fuji
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>
        Mount Fuji is a very distinctive feature of the geography of Japan. It stands 3,776.24 m (12,389 ft) tall and is located
        near the Pacific coast of central Honshu, just southwest of Tokyo. It straddles the boundary of Shizuoka and Yamanashi
        Prefectures. Four small cities surround it: Gotemba to the east, Fujiyoshida to the north, Fujinomiya to the southwest,
        and Fuji to the south. It is surrounded by five lakes: Lake Kawaguchi, Lake Yamanaka, Lake Sai, Lake Motosu and Lake
        Shōji. They, and nearby Lake Ashi, provide views of the mountain. The mountain is part of the Fuji-Hakone-Izu
        National Park. It can be seen more distantly from Yokohama, Tokyo, and sometimes as far as Chiba, Saitama, Tochigi,
        Ibaraki and Lake Hamana when the sky is clear. It has been photographed from space during a space shuttle mission.
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Aokigahara</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/aokigahara.jpg" alt="Aokigahara Forest">
      <p>
        The Kunlun mountains (spelled "Kuen-Lun" in the book) are described as the location of the Shangri-La monastery
        in the
        1933 novel Lost Horizon by English writer James Hilton.

        The mountains are the site of the fictional city of K'un Lun in the Marvel Comics Iron Fist series and the TV
        show of
        the same name.

        The Kunlun mountain range serves as the setting for a mission in the 2013 video game Battlefield 4 in which a
        Chinese
        high-security prison is located within the mountains. The multiplayer map Operation Locker features the location
        as
        well.

        The Kunlun mountains are visited in the 2012 novel Guardian (Zhen Hun) by Priest, and the novel merges the
        mythical
        Kunlun with the highest peak of the Kunlun
      </p>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">In Popular Culture</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/fuji2.jpg" alt="Mount Fuji">
      <p>
        As a national symbol of the country, the mountain has been depicted in various art media such as paintings, woodblock
        prints (such as Hokusai's Thirty-six Views of Mount Fuji and 100 Views of Mount Fuji from the 1830s), poetry, music,
        theater, film, manga, anime, pottery and even Kawaii subculture.
        
        Before its explosive eruption in 1980, Mount St. Helens was once known as "The Fuji of America," for its striking
        resemblance to Mount Fuji. Mount Taranaki / Mount Egmont in New Zealand is also said to bear a resemblance to Mount
        Fuji, and for this reason has been used as a stand-in for the mountain in films and television.
      </p>
  
    </ion-card-content>
  </ion-card>

</ion-content>