<ion-content fullscreen>

  <ion-card>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/toubkal.jpg" alt="Mount Toubkal">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon> Mount Toubkal
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>
      Although much of the High Atlas consists of sedimentary rocks, the Toubkal massif is an area of volcanic rocks which
      have weathered into alpine crests, cut by deep, narrow valleys. To the south, the mountain drops steeply down for 1,800
      metres (5,906 ft) to a small lake called Lac d'Ifni. To the west, the mountain's edge is marked by a pass, the Tizi
      n'Ouanoums at 3,664 metres (12,021 ft). From this pass, the mountain's W-S-W ridge rises up to Toubkal West, which forms
      a shoulder at 4,020 metres (13,189 ft) before continuing to the summit at 4,167 metres (13,671 ft).
      
      The north and western side of Toubkal drains down to the Mizane Valley, which has the passes of both Tizi n'Ouanoums and
      Tizi n'Ouagane at its head. Two hanging valleys on the western side of the mountain - the Ikhibi Nord and Ikhibi South
      provide ready access for trekkers and climbers to reach Toubkal's summit. At one time the northern valley provided the
      normal route of ascent, but the construction of a mountain hut by the French Alpine Club below Ikhibi Sud now encourages
      trekkers to ascent via the southern route instead.
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Access</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/toubkal2.jpg" alt="Mount Toubkal">
      <p>
      Toubkal is popular with trekkers and ski mountaineers, but less so with climbers, despite its ease of access and sunny
      climate. Trekkers usually approach the mountain from Marrakesh via the road-end village of Imlil. Qualified guides
      can be hired, as well as porters, to carry equipment and food supplies higher into the mountains. Since 2018, guides are
      now required even for the normal route,[citation needed] due to recent events on the trail (murder and deadly slips).
      Otherwise it is a moderate hike and navigation is not a problem.
      
      The normal route starts with an easy walk to the village of Aroumd. Past Aroumd a floodplain is crossed and the route
      follows the left slope of the valley southwards. The valley bends to the east to the tiny settlement of Sidi
      Chamharouch, which has grown around a Muslim shrine. At Sidi Chamharouch, the path leads over the stream and runs
      steeply uphill to the right side of the Isougouane valley, which leads to two stone-built refuges (Refuge du Toubkal and
      Refuge Les Mouflons) that are often used as base camp at 3,207 m (10,522 ft). It is possible to buy good meals in the
      Refuge du Toubkal. Tents can be pitched near the refuges for a small charge & they offer five dorms for a total of 89
      persons.
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>