<ion-content fullscreen>

  <ion-card>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/kinabalu.jpg" alt="Mount Kinabalu">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon> Mount Kinabalu
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    
      <p>
      Mount Kinabalu (Malay: Gunung Kinabalu, Dusun: Gayo Ngaran or Nulu Nabalu) is the highest mountain in Borneo and
      Malaysia. With an elevation of 13,435 feet (4,095 m), it is third-highest peak of an island on Earth, and 20th most
      prominent mountain in the world by topographic prominence. The mountain is located in Ranau district, West Coast
      Division of Sabah, Malaysia. It is protected as Kinabalu Park, a World Heritage Site.
      
      In 1997, a re-survey using satellite technology established its summit (known as Low's Peak) height at 4,095 m (13,435
      ft) above sea level, which is some 6 m (20 ft) less than the previously thought and hitherto published figure of 4,101 m
      (13,455 ft).
      
      The mountain and its surroundings are among the most important biological sites in the world, with between 5,000 and
      6,000 species of plants, 326 species of birds, and more than 100 mammalian species identified. Among this rich
      collection of wildlife are famous species such as the gigantic Rafflesia plants and orangutans. Mount Kinabalu has been
      accorded UNESCO World Heritage status.
      
      Low's Peak can be climbed by a person in good physical condition and there is no need for mountaineering equipment at
      any point on the main route, but climbers must be accompanied by accredited guides at all times due to national park
      regulations and may experience altitude sickness.
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">History</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <img src="./assets/icon/kinabalu2.jpg" alt="Mount Kinabalu">
<p>British colonial administrator Hugh Low made the first recorded ascent of Mount Kinabalu's summit plateau in March 1851
with local Dusun guide Lemaing of Kampung Kiau. Low did not scale the mountain's highest peak, however, considering it
"inaccessible to any but winged animals". In April and July 1858, Low was accompanied on two further ascents by
Spenser St. John, the British Consul in Brunei. The highest point of Mount Kinabalu was finally reached in 1888 by
zoologist John Whitehead. British botanist Lilian Gibbs became the first woman and the first botanist to summit Mount
Kinabalu in February 1910.

Botanist E. J. H. Corner led two important expeditions of the Royal Society of Great Britain to the mountain in 1961 and
1964. Kinabalu National Park was established in 1964. The park was designated a natural World Heritage Site in
2000.</p>
    
    </ion-card-content>
  </ion-card>
 
</ion-content>