

<ion-content fullscreen>

  <ion-card>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
    <img src="./assets/icon/kaz.jpg" alt="Mount Ida">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon> Mount Ida
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        Mount Ida is a lightly populated upland massif of about 700 km² located to the north of Edremit. A number of
        small
        villages in the region are connected by paths. Drainage is mainly to the south, into the Gulf of Edremit, also
        known as Edremit Bay, where the coast is rugged and is known as "the Olive Riviera." However, the Karamenderes
        River
        (the ancient Scamander) flows from the other side of Mount Ida to the west. Its valley under Kaz Dağları has
        been called
        "the Vale of Troy" by English speakers. Currently a modest 2.4 km² of Mount Ida are protected by Kaz
        Dağı National Park, created in 1993.

        The summit is windswept and bare with a relatively low tree line due to exposure, but the slopes of this
        mountain, at
        the edge of mild Mediterranean and colder central Anatolian climate zones, hold a wealth of endemic flora,
        marooned here
        after the Ice Age. The climate at lower altitudes has become increasingly hot and dry in the deforested
        landscape. The
        dry period lasts from May to October. Rainfall averages between 631 and 733 mm per year. The mean annual
        temperature is
        15.7 degrees Celsius, with diurnal temperatures as high as 43.7 degrees Celsius in Edremit. The forests on the
        upper
        slopes consist mainly of Trojan fir (Abies nordmanniana subsp. equi-trojani; considered by some botanists to be
        a
        distinct species Abies equi-trojani). Deer, wild boar and jackal are common at the area. Wolves, lynx, brown
        bears and
        big cats once roamed there, but now disappeared from the mountains due to overhunting.
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Legends</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <div id="head" style="color:coral">Cybele</div>
      <img src="./assets/icon/cybele.jpg" alt="Cybele">
      <p>
        In ancient times of the Greeks, the mountain was dedicated to the worship of Cybele. The Romans gave this
        goddess the
        epithet Magna Mater ("Great Mother"), or Magna Mater deorum Idaea ("great Idaean mother of the gods").
      </p>
      <div id="head" style="color:coral">Sibylline Books</div>
      <img src="./assets/icon/sibylline.jpg" alt="Sibylline">
      <p>
        The oldest collection of Sibylline utterances, the Sibylline Books, appears to have been made about the time of
        Cyrus at
        Gergis on Mount Ida; it was attributed to the Hellespontine Sibyl and was preserved in the temple of Apollo at
        Gergis.
        From Gergis the collection passed to Erythrae, where it became famous as the oracles of the Erythraean Sibyl. It
        seems
        to have been this very collection, or so it would appear, which found its way to Cumae (see the Cumaean Sibyl)
        and from
        Cumae to Rome.
      </p>


      <div id="head" style="color:coral">Anchises</div>
      <img src="./assets/icon/anchises.jpg" alt="Anchises">
      <p>
        Anchises, father of Aeneas, also of the Trojan royal house, was tending sheep on Mount Ida when he was seduced
        by
        Aphrodite. Their union led to the birth of Aeneas, the mythological progenitor of Rome's Julio-Claudian dynasty
        and a
        founder of Rome.
      </p>
      <div id="head" style="color:coral">Trojan War</div>
      <img src="./assets/icon/trojan.jpg" alt="Trojan">
      <p>
        The mountain is the scene of several mythic events in the works of Homer. At its summit, the Olympian gods
        gathered to
        watch the progress of the epic fight. But the mountain was the sacred place of the Goddess, and Hera's powers
        were so
        magnified on Mount Ida, that she was able to distract Zeus with her seductions, just long enough to permit
        Poseidon to
        intercede on behalf of the Argives to drive Hektor and the Trojans back from the ships.

        During the Trojan War, in an episode recorded in Epitome of the fourth book of the Bibliotheca, Achilles with
        some of
        the Achaean chiefs laid waste the countryside, and made his way to Ida to rustle the cattle of Aeneas. But
        Aeneas fled,
        and Achilles killed the cowherds and Mestor, son of Priam, and drove away the sacred kine (Epitome 3.32).
        Achilles
        briefly refers to this incident as he prepares to duel with Aeneas during the siege of Troy. (Iliad XX)

        After the Trojan War, the only surviving son of Priam, Helenus, retired to Mount Ida, where he was surprised and
        became
        the captive of Neoptolemus. In the Aeneid a shooting star falls onto the mountain in answer to the prayer of
        Anchises to
        Jupiter.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">History</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div id="head" style="color:coral">Bronze Age</div>
      <p>In the Bronze Age, the region around the mountain complex had a somewhat chequered ethnography. There is
        evidence for
        the following peoples with a reasonable degree of probability:

        The Tjeker in Ayvacık, Çanakkale Province, which the Greeks called the Teucri. They were probably from Crete and
        are
        most likely to have been the source of the name, Mount Ida, which they took from Mount Ida, Crete.</p>
      <div id="head" style="color:coral">Iron Age</div>
      <p>In historical times, Xerxes' march took him past Mount Ida (Herodotus VII:42).</p>
    </ion-card-content>
  </ion-card>
</ion-content>