<ion-content fullscreen>

  <ion-card>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/vinson.jpg" alt="Mount Vinson">
    <ion-card-header>

      <ion-card-title color="warning" id="mainhead">
        <ion-icon color="medium" name="finger-print-outline"></ion-icon> Mount Vinson
      </ion-card-title>
      <br>
      <ion-card-subtitle color="secondary">Geography</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>
    The Vinson Massif extends between Goodge Col and Branscomb Glacier to the northwest, Nimitz Glacier and Gildea Glacier
    to the southwest and south, and Dater Glacier and its tributary Hinkley Glacier to the east. The southeastern part of
    the massif ends at Hammer Col, which joins it to the Craddock Massif, of which the highest point is Mount Rutford (4,477
    metres (14,688 ft)). The massif comprises both the high central Vinson Plateau with its few peaks rising to over 4,700
    metres (15,400 ft), and several side ridges mostly trending southwest or northeast from the plateau.
    
    The current height (4,892 metres (16,050 ft)) of Mount Vinson was measured by a GPS survey that was conducted by the
    2004 Omega Foundation team comprising Damien Gildea of Australia (leader) and Rodrigo Fica and Camilo Rada of Chile.
    Since 1998 and continuing through 2007, the Omega Foundation has placed a GPS receiver on the summit for a suitable
    period of time to obtain accurate satellite readings.
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">History</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/vinson2.jpg" alt="Mount Vinson">
      <p>
        A high mountain, provisionally known as "Vinson", was long suspected to be in this part of West Antarctica, but it was not actually seen until January 1958, when it was spotted by US Navy aircraft from Byrd Station. It
        was named after Carl Vinson, United States Representative from Georgia who was a key supporter of funding for Antarctic
        research. The first measurement of the Vinson Massif was established in 1959 at the elevation of 5,140 m (16,864
        ft).
      </p>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Climate and Glaciers</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/icon/vinson3.jpg" alt="Mount Vinson">
      <p>
        The climate on Mount Vinson is generally controlled by the polar ice cap's high-pressure system, creating predominantly
        stable conditions but, as in any polar climate, high winds and snowfall are a possibility. Though the annual snowfall on
        Mount Vinson is low, high winds can cause base camp accumulations up to 46 centimetres (18 in) in a year. During the
        summer season, November through January, there are 24 hours of sunlight. While the average temperature during these
        months is −30 °C (−20 °F), the intense sun will melt snow on dark objects.
        
        Over successive years, the limited amount of snow that falls on Vinson Massif compacts and is transformed into ice,
        forming glaciers. These glaciers follow the topography and flow down the mountain's valleys. The uppermost glacier
        occupies Jacobsen Valley on the north face of Mount Vinson, and flows either into Branscomb Glacier to the west or
        Crosswell Glacier to the east. The Crosswell Glacier flows into the Rutford Ice Stream via Ellen Glacier. The south
        face of Mount Vinson is drained by Roché Glacier, which flows westwards into Branscomb Glacier, with the latter leaving
        Vinson Massif to join Nimitz Glacier.
      </p>
  
    </ion-card-content>
  </ion-card>

</ion-content>