<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center" style="font-family: 'Courier New', monospace;">M-Learn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="register()">
  <ion-item>
  <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Logo">
  </ion-item>
  <br>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="email" clearInput formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid!</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" clearInput formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && email.errors">Password is invalid!</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">Retype Password:</ion-label>
      <ion-input type="password" clearInput formControlName="repassword"></ion-input>
      <ion-note slot="error" *ngIf="(password !== repassword)">Passwords doesn't match!</ion-note>
    </ion-item>
    <ion-button shape="round" expand="block"  color="success" [disabled]="!credentials.valid" type="submit" >Register</ion-button>
    <ion-button shape="round" expand="block"  color="secondary" (click)="goLogin()" >I Have Account</ion-button>
  
  </form>
  
  
  </ion-content>